#header{
    background: red;
    border-radius: 30px;
    .header{
        
        .end{
            display: flex;
            gap: 50px;
            padding-left: 250px;
            color: black;
        }
    }
}